h1 X2 Product Biography
quote by Bas de Bruin

hr

h2 Goals
p.
    For this minor and this X2 course I intend to gather as much information about the field of UX, the methods that are used and how I can apply them in my own design work.
p.
    After some debating I decided to persue the following learning goals:
ul
    li Writing about UX
    li Gathering UX methods
    li Learning about sustainability in design

quote Use the hamburger menu to switch between sections!

hr

h2 Reflection
p.
    The X2 course started off a little rocky for me, I ended up switching 2 of my learning goals because they were too vague, ambitious and I just didn't quite know what was expected of me but in the end I found 3 learning goals that I was motivated for and was able to stick with.

p.
    Unlike most fellow students, I didn't come from CMD or the HvA so I had some catching up to do in certain subjects and was more proficient in others. I learned a lot about myself as a designer through all the courses and of course the X2 learning goals. 

p.
    I found that I am drawn to complex problems and I like to turn them into simple, understandable experiences/products. This can be found in a couple of courses that I particularly enjoyed: during the Information Architecture course I designed a simpler version of Netflix for the elderly, during the Master Test I created a voice-first interface for blind people that simplifies the shopping experience and for the "Sustainability" design goal I learned about removing unessential elements from my designs. 

p.
    Another thing I noticed when coming here is that the people are much better at selling themselves and what they make, for that reason I wanted to gather as much of the methods and mannerisms I could find, the "Writing about UX" and "Gathering methods" learning goals helped me create a set of guidelines for myself to follow in order to get better at it. 

p.
    During the X2 course and the whole minor really, I learned a lot of methods and ways of designing that I didn't know before, I am curious to see how I can apply these new found skills in my future design work.