h1 Likes &amp; Dislikes

h2 Likes

.columns
    img(src="assets/like-speaker.jpg" alt="image of playful speaker")
    div
        h3 Speaker
        p Simple yet playful; Well thought-out interaction

.columns
    img(src="assets/like-op1.jpg" alt="image of op1 synthesiser")
    div
        h3 OP-1 Synth
        p Intuitive synthesiser; Colored knobs are refelected in UI

.columns
    img(src="assets/like-dark-mode.jpg" alt="image of screen with dark mode on")
    div
        h3 Dark Mode
        p Gives users a choice; Easier on the eyes

.columns
    img(src="assets/like-spotlight.jpg" alt="screenshot of spotlight on a mac")
    div
        h3 Spotlight
        p Quickly open apps from anywhere; Predicts what you’re typing

.columns
    img(src="assets/like-familiar-patterns.jpg" alt="screenshot of buttons, on of which is a different color")
    div
        h3 Familiar Patterns
        p Using ui patterns that people are familiar with; Reduces time that user has to think

hr

h2 Dislikes

.columns
    img(src="assets/dislike-notifications.jpg" alt="screenshot of notification banner")
    div
        h3 Web notifications
        p Intrusive pop-ups; Hard to turn off

.columns
    img(src="assets/dislike-slow-load.jpg" alt="image of slow website loading")
    div
        h3 Slow load times
        p Server takes very long to respond; Makes each click painfull

.columns
    img(src="assets/dislike-cookie.jpg" alt="screenshot of a cookie banner")
    div
        h3 Cookie Consent Banners
        p Intentionally unlear; “Accept All” is easier to click (dark pattern)

.columns
    img(src="assets/dislike-rounded-corners.jpg" alt="examples of apps with way too rounded corners")
    div
        h3 Excessive use of rounded corners
        p Poor use of space, fits less content; A big trend right now :(

.columns
    img(src="assets/dislike-video-call-muting.jpg" alt="screenshot of teams quote your microphone is muted")
    div
        h3 Video call muting
        p People keep forgetting they’re muted; The reminder always comes at the wrong time