h1 Developing my own methods
p.
    There are a lot of methods in the UX field, so many that you can never use all of them on a single project. <br>
    For this learning goal I've set out to gather the methods that I think will be most useful to the type of project I do, and plan on doing in the future; these projects will be mostly interactive, audio-visual experiences in physical or digital form.
p.
    Click on any of the methods to read a description about it.

//- List of all methods
-
    const methods = {
        research: [
            "User Journey": {
                
            }
        ],
        designing: [

        ],
        prototyping: [

        ],
        iterating: [

        ]
    }