h1 Unique Selling Points

h2 Values
p.
    I care about design, not just visual design but applied design. I care about the way design makes you feel; what design to use where and how design is related to technology. <br>
    Design needs to have character but not get in the way, it needs to be smart and add something to the complete picture.

h2 Strengths
p.
    I’m flexible and I love to teach myself new skills. I like to think I can see the bigger picture, that I know what types of design and technology are out there and when to use them. I’m familiar with design software and programming so I’m able to execute and prototype the ideas I have.

h2 Weaknesses
p.
    I’m flexible to a point that I’m not able to focus on a single profession, I don’t see myself as a graphic designer or programmer but as a multidisciplinary designer. When it comes to explaining what I do and what I’m good at, it’s hard to find the words that express all of it in a single sentence.

h2 USP8
quote I’m a designer connecting visuals, experience and technology.
p.
    I think this usp8 captures me quite well but I don’t think most people that aren’t in the design world would understand this.<br>
    As an alternative I’ve made this simple version: 
quote I make things work, look and feel great.

hr

h2 My visual style

p.
    I’ve been working on a visual style for a while now and have come up with the following: <br>
    It’s a simple logo that is part of an adaptable system that can be used throughout my website and social media. <br>
    I like the fact that it is simple because it allows me to use the basic style in a variety of creative ways. The logo also kind of looks like a folder icon, refering to my technological side.<br>
    One thing I am not completely happy with is the copy, I find it hard to explain what I do. This is one of my learning goals after all.

.columns
    img(src="assets/bas-style-1.jpg" alt="3d visual with the text bas")
    img(src="assets/bas-style-2.jpg" alt="3d visual with the text bas")

.columns
    img(src="assets/bas-style-3.jpg" alt="3d visual with the text bas")
    img(src="assets/bas-style-4.jpg" alt="3d visual with the text bas")

<br><br>

h4.
    See the full visual style on my personal website:
p
    a(href="https://basdebruin.com") basdebruin.com