h1 Writing about UX and old projects
hr

p.
    Something I struggle with continuously is writing about finished projects. How do I bring across what I added to the project in a limited amount of sentences? For this learning goal I will be looking into case studies and portfolio’s of UX professionals to find out what information is important and how it is discribed.
h2 What I want to make
p.
    A short essay about my findings on the website mentioned in the last learning goal as well as a rewrite of the project descriptions on my own portfolio website.

hr

h2 Case studies
p.
    Case studies are the common way of writing about completed projects, it is easy to find articles and tips online about how to structure a case study and what information is important. I want to understand what makes a good case study and what information they recommend you put in, however I am wary that case studies in their typical form may not be the most suitable for the type of projects I do and the type of clients/companies that I try to attract.
p.
    The world of UX Design and Communication can be a bit of a bubble and I feel like I don't want to just conform to the uniformity; in the end I want to present myself in a unique way.
p.
    Another potential downside of Case Studies is that they are long and I'm not sure if clients/recruiters can really be expected to read all of it.


h2 Insights and Notes
p.
    Good case studies often read like a story: smoothly moving from the beginning of the project to the solutions, insights and final product. In my final product I need to tie all sections together, not just list the information.

h3 Feedback I got from coaches
ul
    li Write in questions and answers (problems and solutions)
    li instead of just including research and talking about the process
    li Always write a conclusion after answering a question, show your insights

h3 What usually goes into a case study
ol
    li Overview
    li Problem statement
    li Users and audience
    li Roles and responsibilities
    li Scope and constraints
    li Process and what you did
    li Outcomes and lessons


h2 Course of action
ol
    li Write down what I want to achieve with my writing, what am I trying to convey
    li Take inspiration from articles and portfolio's of other designers
    li Write an outline, decide how long it should be
    li Express the main concept I'm trying to convey
    li Write about the technical details, think of a way to express this in an understandable, fast way.
    li Feedback? If I have time.


hr

h2 Appying it

h3 What I'm writing about
p.
    I've decided to take my internship project as the subject. I made a game about Accessibility where I did everything from design to development and worked closely with experience experts. I want to get all of these things across without the case study becoming too long.
h3 Goal
p.
    Get across how much I did on the project, what problems needed to be solved and how I (we) solved them.
h3 Outline

ol
    li Overview
        ol
            li small paragraph about the assignment and the company
    li The problem
        ol
            li What the product was meant to achieve
            li Who is the user?
    li Responsibilities and Co-creation
        oL
            li Talk about what I was to do and who I worked with
    li Scope & Constraints
        ol
            li Talk about working from home
            li 3 months time
            li Where was the focus?
    li What I did and why?
    li Results
        ol
            li The final product