doctype html
html(lang="en")
    include head.pug
    style 
        include style.min.css
    script
        include script.min.js

    body
        button(onclick="toggleMenu()")#menu-button
            span &#9776;
            span &#215;

        nav
            .container
                h2: a(href="#home") Home
                h2: a(href="#likes-dislikes") Likes &amp; Dislikes
                h2: a(href="#companies") Company Evaluations
                h2: a(href="#usp") Unique Selling Points

                h2.label Learning Goals
                h2: a(href="#writing") Writing about UX and old projects
                h2: a(href="#methods") Gathering UX methods
                h2: a(href="#sustainability") Sustainability in the design process

        section#home
            include pages/home.pug

        section#likes-dislikes
            include pages/likes-dislikes.pug
        
        section#companies
            include pages/companies.pug

        section#usp
            include pages/usp.pug




        section#writing
            include pages/writing.pug

        section#methods
            include pages/methods.pug

        section#sustainability
            include pages/sustainability.pug