/* 

    Styles for uxd-product-biography
    to be compiled by pug

*/

:root {
    --fg: #333;
    --bg: #eee;
    --break: 50rem;

    --font-size: 15px;
    --font: -apple-system, Roboto, sans-serif;
}
html, body {
    margin: 0; padding: 0;
    overflow-x: hidden;
    font-size: var(--font-size);
    font-family: var(--font);
    color: var(--fg);
    background: var(--bg);
}
@media (prefers-color-scheme: dark) {
    :root {
        --fg: #eee;
        --bg: #222;
    }
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    max-width: 40rem;
    margin-bottom: 0;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.5px;
} 
p {
    line-height: 1.6rem;
    opacity: .8;
    letter-spacing: .2px;
}

button, a {
    background: none;
    border: none;
    cursor: pointer;
    transition: all .2s;
    color: unset;
    text-decoration: none;
}
button:hover, a:hover {
    transform: scale(1.1);
}
button:active, a:active {
    color: unset;
    transform: scale(0.9);
}

#menu-button {
    display: block;
    position: fixed;
    z-index: 999;
    top: 4rem; right: 4rem;
}
#menu-button span {
    font-size: 2rem;
}
#menu-button span:last-child {
    color: var(--bg);
    font-size: 2.5rem;
    display: none;
    margin-top: -0.2rem;
}
#menu-button.open span:first-child {
    display: none;
}
#menu-button.open span:last-child {
    display: block;
}
@media (max-width: 40rem) {
    #menu-button {
        top: 2rem; right: 2rem;
    }
}

nav {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100vh;
    background: var(--fg);
    color: var(--bg);
    z-index: 900;
}
nav.open {
    display: block;
}
nav h2 {
    margin-left: 2rem;
}
nav .label {
    margin-left: 0;
    margin-top: 3rem;
    opacity: .6;
}



section, .container {
    display: block;
    width: 100%;
    max-width: var(--break);
    margin: 10rem auto;
    padding: 1rem;
}
section:not(#home) {
    display: none;
}

hr {
    display: block;
    margin: 3rem 0;
    width: 10%;
    border: solid 1px rgba(127, 127, 127, .5);
}


@keyframes rainbow {
    0%   { color: #DE4F4F; }
    20%  { color: #E0C431; }
    40%  { color: #65CF6B; }
    60%  { color: #64C2DE; }
    80%  { color: #9486FF; }
    100% { color: #DE4F4F; }
}
button:hover, a:hover {
    animation: rainbow 4s infinite;
}